<h1>Whisper Board</h1>

<!-- Form to write and submit message + name -->
<%= @submit %>
<%= form_with model: @message, id:"message_form" do |form|%>
  <h3>Whisper</h3>
    <%= form.text_field :name, id: "add_name", placeholder: "Your Name", required: "required" %>
    <br>
    <%= form.text_area :content, size: "70x10", id: "message", placeholder: "Type your message here! Max limit is 500 characters.", required: "required", maxlength: "500" %>
    <br>
      
    <%= form.submit id: "submit"%> 
    <!-- character counter -->
      <%= fa_icon "comment-dots"%>
      <span id="character_count"> <span id = "counter">0</span><span> /500</span></span>
<% end %>
<br>

<!-- Message posting + option to delete -->
<% @messages.each do | message | %>
  <div class="message_contents">
    <p class="message_name"><i><%= message.name %> said,</i></p>
    <p class="message_content"><%=message.content %></p>
    <div class="message_footer"><span class="message_time"><%=message.created_at %></span>
        <%= link_to "/messages/#{message.id}",
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete your message?" }, class: "delete_message" do %>
                      <%= fa_icon "trash"%>
                      <% end %>
                    
          <%= link_to "/messages/#{message.id}", method: :get, class: "comment_msg" do%>
              <%= fa_icon "comments" %>
          <% end %>
    </div>
  </div>
<% end %>

<!-- Character Counter JScript-->
<script>
        const textarea = document.querySelector('#message');
        const counter = document.getElementById('counter');

        textarea.addEventListener('input', updateValue);

        function updateValue(e) {
        counter.textContent = textarea.value.length;
      }
      </script>