<%= render partial: "shared/user_header" %>

<!-- Form to write and submit message + name -->
<%= @submit %>
<%= form_with model: @message, id:"message_form" do |form|%>
  <h3>Whisper</h3>
    <%= form.text_area :content, size: "70x10", id: "message", placeholder: "Type your message here! Max limit is 500 characters.", required: "required", maxlength: "500" %>
    <%= form.file_field :image, class: "btn btn-secondary" %>
    <br><br>
    <%= form.hidden_field(:user_id, value: @user.id) %>
      
    <%= form.submit id: "submit", class: "btn btn-secondary"%> 
    <!-- character counter -->
      <span id="character_count"> <span id = "counter">0</span><span> /500</span></span>
<% end %>
<br>

<!-- Message posting + option to delete -->
<% @messages.each do | message | %>
  <div class="message_contents">
    <!-- Profile image -->
    <% if message.user && message.user.image.attached? %>
      <img src= "<%= (url_for(message.user.image)) %>" id="pfp_image" class= "pfp_image_small">
    <% end %>
    <!-- end pfp -->
    <span class="message_name">
      <% if message.user.nil? %>
        <i><%= displayname(message.user) %> said,</i>
      <% elsif %>
        <%= link_to "/users/#{message.user_id}" do %>
        <i><%= displayname(message.user) %></i>
        <%end%>
        <i> said,</i>
      <%end%>
    </span>
    <p class="message_content"><%=message.content %></p>
    <% if message.image.attached? %>
      <img src= "<%= (url_for(message.image)) %>" class= "image_uploaded">
    <% end %>
    <div class="message_footer"><span class="message_time"><%=message.created_at %></span>
        <%= link_to "/messages/#{message.id}",
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete your message?" }, class: "delete_message" do %>
                      <%= fa_icon "trash"%>
                      <% end %>
                    
          <%= link_to "/messages/#{message.id}", method: :get, class: "comment_msg" do%>
              <%= fa_icon "comments" %>
          <% end %>
    </div>
  </div>
<% end %>

<%# Page Navigator %>
<%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
<%== pagy_bootstrap_nav(@pagy) %>
<%#== pagy_bootstrap_nav_js(@pagy) %>
<%#== pagy_bootstrap_combo_nav_js(@pagy) %>

<!-- Character Counter JScript-->
<script>
        const textarea = document.querySelector('#message');
        const counter = document.getElementById('counter');

        textarea.addEventListener('input', updateValue);

        function updateValue(e) {
        counter.textContent = textarea.value.length;
      }
      </script>