<div class = "show_heading">
    <p class = "title">Whisper Board</p>

    <!-- Home Button -->
    <span class= "home">
        <%= link_to "/messages", class: "home_button" do %>
            <%= fa_icon "home" %> 
        <% end %>

        <%= link_to "/sessions/logout", class: "logout_button", method: :delete do %>
          <%= fa_icon "sign-out" %>
        <% end %>
    </span>
</div>
<br>
<br>

<!-- the full message -->
<div class="full_message_contents">
    <p class="message_name"><i><%= @message.name %> said,</i></p>
    <p class="message_content"><%= @message.content %></p>
    <% if @message.image.attached? %>
      <img src= "<%= (url_for(@message.image)) %>" class= "image_uploaded">
    <% end %>
    <div class="message_footer"><span class="message_time"><%= @message.created_at %></span>
    </div>
    <br>
        <!-- Comment form -->
        <%= @submit %>
            <%= form_with model: @comment, url: "/comments", id:"comment_form" do |form|%>
                <%= form.text_field :name, id: "comment_name", placeholder: "Your Name", required: "required" %>
                <br>
                <%= form.text_area :content, size: "70x5", id: "comment", placeholder: "Type your comment here! Max limit is 500 characters.", required: "required", maxlength: "500" %>
                <br>
                <%= form.hidden_field :message_id, value: @message.id %>
                <%= form.hidden_field(:user_id, value: @user.id) %>
                <div class="form_base">
                  <%= form.submit id: "submit_comment", class: "btn btn-outline-secondary"%> 
                  <!-- character counter -->
                  <span id="character_count"> <span id = "counter">0</span><span> /500</span></span>
                </div>
            <% end %>
  </div>

<!-- Comment Posting -->
<% @comments.each do | comment | %>
  <div class="comment_contents">
    <p class="comment_name"><i><%= comment.name %> said,</i></p>
    <p class="comment_content"><%=comment.content %></p>
    <div class="comment_footer"><span class="comment_time"><%= comment.created_at %></span>
        <%= link_to "/comments/#{comment.id}",
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete your comment?" }, class: "delete_comment" do %>
                      <%= fa_icon "trash"%>
                      <% end %>
    </div>
  </div>
<% end %>

<%# Page Navigator %>
<%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
<%== pagy_bootstrap_nav(@pagy) %>