<% if logged_in? %>

    <h1> You are Logged In, <%= current_user.username %></h1>

    <div class = "show_heading">
    <p class = "title">Whisper Board</p>

    <!-- Home Button -->
    <div class= "home">
    
        <%= link_to "/messages", class: "home_button" do %>
            <%= fa_icon "home" %> 
        <% end %>
      
        <%= link_to "/sessions/logout", class: "logout_button", method: :delete do %>
          <%= fa_icon "sign-out" %>
        <% end %>

    </div>

</div>

<% else %>

    <h1>Welcome!</h1>

    <br>
    <br>

    <div class="flex_container">

        <div class="user_signlog">

            <%= button_to "Login", '/login', method: :get, class: "btn btn-secondary" %>

            <br>

            <%= button_to "Sign Up", '/users/new', method: :get, class: "btn btn-secondary" %>
        
        </div>

    </div>

<% end %>


