<h1>Sign Up</h1>

    <div class="flex_container">
        <%= form_for @user do |f|%>

            <div class="user_typ">

                <%= f.label :username %><br>

                <%= f.text_field :username %><br>
                
                <br>

                <%= f.label :password %><br>

                <%= f.password_field :password %><br>

                <br>

                <%= f.submit class: "btn btn-secondary" %>
            
            </div>

        <% end %>
    </div>
