<%= render partial: "shared/user_header" %>

<div class="aboutme_page_contents">

    <h3>About Me</h3>

    <div class="aboutme_currentuser" id = "container.">
    <% if current_user.id == @user.id %>
        <script> 
            $(document.body).ready(function(){
                $("#edit_box_btn").click( "slow", function(){
                    event.stopPropagation();
                if ( $("#aboutme_form").is( ":hidden" ) ) {
                    $("#aboutme_form").slideDown();
                } else {
                    $("#aboutme_form").slideUp();
                }
                });
            });
        </script> 

        <div class="aboutme_display">
            <p class="aboutme_content"> <%= @user.aboutme %> </p>
            <a href="#" id="edit_box_btn"><%=fa_icon "edit"%></a>
        </div>
        <br>
        <div id="aboutme_edit">
            <!-- [About me form] -->
            <%= @submit %>
            <%= form_with scope: :user, url: "/users/#{@user.id}", id:"aboutme_form" do |form|%>
                <%= form.text_area :aboutme, value: @user.aboutme, size: "70x4", id: "message", placeholder: "Tell us about yourself! Just a little blurb.", required: "required", maxlength: "300" %>
                <br>
                <%= form.hidden_field(:user_id, value: @user.id) %>
                <%= form.submit id: "submit", class: "btn btn-secondary"%> 
            <% end %> 
        </div>
        <% else %>
        <div class="aboutme_display" style="float:left; margin:10px">
            <p class="aboutme_content"> <%= @user.aboutme %> </p>
        </div>
    <% end %>
    
    
    </div>
    
</div>

<br><br><br>

<%= button_to "Test", '/users/test', method: :get, class: "btn btn-secondary" %>

    <!-- :/ didn't work
    <script type="text/javascript">

        <div id="edit_aboutme" contenteditable="true">
            Hi! This is my about me page :)
        </div>

    </script> -->