<br>
<br>
<h1>Message Board</h1>
<%= @submit %>
<%= form_tag("/x2", method: "get") do %>
  <%= label_tag(:q, "Message:") %>
  <br>
  <%= text_area(:post, :body, cols: 30, rows: 4) %>
  <br>
  <%= submit_tag("Submit") %>
<% end %>
<br>
<!--<%= text_area(:post, :body, cols: 30, rows: 4) %>-->